In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
golf = pd.read_excel('golf_df.xlsx')
golf.head()

      clima  temp umidade vento jogar
0     sunny   hot    high    no    no
1     sunny   hot    high   yes    no
2  overcast   hot    high    no   yes
3     rainy  mild    high    no   yes
4     rainy  cool  normal    no   yes

In [3]:
golf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   clima    14 non-null     object
 1   temp     14 non-null     object
 2   umidade  14 non-null     object
 3   vento    14 non-null     object
 4   jogar    14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

le.fit(golf.temp)
golf.temp = le.transform(golf.temp)

le.fit(golf.clima)
golf.clima = le.transform(golf.clima)

le.fit(golf.umidade)
golf.umidade = le.transform(golf.umidade)

le.fit(golf.vento)
golf.vento = le.transform(golf.vento)

le.fit(golf.jogar)
golf.jogar = le.transform(golf.jogar)

In [10]:
golf.head()

   clima  temp  umidade  vento  jogar
0      2     1        0      0      0
1      2     1        0      1      0
2      0     1        0      0      1
3      1     2        0      0      1
4      1     0        1      0      1

In [18]:
X = golf.iloc[:, :-1]

In [29]:
y = golf.iloc[:, -1]

In [30]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [32]:
predictions = model.predict(x_test)

In [33]:
x_test['prediction'] = predictions
x_test.head()

    clima  temp  umidade  vento  prediction
9       1     2        1      0           1
11      0     2        0      1           1
0       2     1        0      0           1

In [34]:
y_test = pd.DataFrame(y_test)
y_test.head()

    jogar
9       1
11      1
0       0

In [41]:
x_test['real'] = y_test['jogar']
x_test.head()

    clima  temp  umidade  vento  prediction  real
9       1     2        1      0           1     1
11      0     2        0      1           1     1
0       2     1        0      0           1     0